// Variables
@import "../variables";
@import "../mixins/elements";

// Personnalisation
.PwaInstaller {
  @include pwa-buttons-styles;
}

.PwaInstaller--fixed {
  display: flex;
  position: fixed;
  z-index: 9999;
  right:0;
  top:40%;
  bottom:auto;
  left:auto;
  transform:translate(100%, 0);
  flex-direction: column;
  align-items: flex-start;
  row-gap: 15px;
  max-width: 350px;
  padding:15px 30px;
  transition: transform 400ms ease-in-out;

  &.show {
    transform: translate(0, 0);
  }
}

.PwaInstaller,
.PwaInstaller-handler {
  background-color: pwaColor(purple);
}

.PwaInstaller-title,
.PwaInstaller-content {
  color: pwaColor(white);
  margin: 0;
  padding: 0;
}

.PwaInstaller-handler {
  position: absolute;
  display:none;
  top:0;
  left:0;
  transform: translate(-100%, 0);
  width:32px;
  height:32px;
  z-index: 10000;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top:-9px;
    margin-left:-9px;
    width: 18px;
    height: 18px;
    fill: white;
  }

  &,
  &:hover,
  &:active,
  &:focus,
  &:visited {
    color: pwaColor(white);
  }
}

.PwaInstaller.show {

}

.PwaInstaller-title {
  font-size: 18px;
}

.PwaInstaller-content {
  font-size: 14px;
  line-height: 1.4;
}

.PwaInstaller-close {
  display: block;
  position: absolute;
  border: none;
  background-color: transparent;
  top: 5px;
  right: 5px;
  text-decoration: none;
  font-size: 14px;
  line-height: 1;

  &,
  &:hover,
  &:active,
  &:focus,
  &:visited {
    color: pwaColor(white);
  }
}